body {
  font-size: 13.5px;
  background: rgb(204,204,204);
}
page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  page-break-before: always;
}

@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}

[my-border="1"] {
  border: 1px solid black
}

[my-border="2"] {
  border: 2px solid black
}

[inside-border="1"] {
  box-shadow:0px 0px 0px 1px black inset
}

[inside-border="2"] {
  box-shadow:0px 0px 0px 2px black inset
}

table {
  border-collapse: collapse;
}

table td, table th {
  padding: 0;
}

td[center="true"] {
  text-align: center;
}

td[align-right="true"] {
  text-align: right;
  padding-right: 10px;
}

td[align-left="true"] {
  text-align: left;
  padding-left: 10px;
}

.half-page {
  height: 48%;
  width: 100%;
  padding-top: 11px;
}

.line {
  font-size: 16px;
  position: absolute;
  display: block;
  text-align: center;
}

.outside-frame {
  border: 1px solid #000;
  height: 100%;
  width: 96%;
  margin:auto;
}